<div *ngIf="hero">
    <h2>{{ hero.name | uppercase }} Details</h2>
    <div>
        <span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
    </div>
    <button class="btn btn-primary" (click)='goBack()'>cancel</button>
    <button class="btn btn-primary" (click)='save()'>保存</button>
</div>

<div>
    <h2>新增 hero 模块</h2>
    <label>Hero name:
    <input #heroName />
  </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="btn btn-primary" (click)="add(heroName.value);"> add </button>




</div>