<div class="container-fluid">
    <div class="row">
        <header class="col-md-12 header"> {{title}} </header>
        <nav class="nav flex-column col-md-3">
            <a class="nav-link active" routerLink="/heroes" href="#">Heroes</a>
            <a class="nav-link " routerLink="/dashboard" href="#">dashboard</a>
            <a class="nav-link " routerLink="/setcolor" href="#">setcolor</a>
            <a class="nav-link " routerLink="/message" href="#">message</a>
            <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
        <div class="col-md-9 main">
            <div class="content col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>

        <footer class="col-md-12 text-center footer"></footer>
    </div>
</div>

<!-- router-outlet 路由占位符，应该只有一个 -->