/* You can add global styles to this file, and also import other style files */

.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1 {
    padding: 0;
}

.header {
    height: 60px;
    background: #2a2a2a;
    color: white;
}

nav {
    border: 1px solid #cdcdcd;
}

.main {
    padding-left: 10px;
}

.main .content {
    padding: 10px;
    border: 1px solid #cdcdcd;
}